.has-margin-top {
    margin-top: $global-margin;
}

.has-margin-bottom {
    margin-bottom: $global-margin;
}

.has-padding-top {
    padding-top: $global-padding;
}

.has-padding-bottom {
    padding-bottom: $global-padding;
}