// colors
$primary: #00d1b2;
$light: #f9fbfc;
$modal-background-background-color: rgba(0, 0, 0, .3);

// Responsiveness
$fullhd-enabled: false;

// spacing and radius
$global-radius: 6px;
$global-margin: 1rem;
$global-padding: 1rem;

// shadows
$box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
$input-shadow: none;
$input-focus-box-shadow-size: none;
$input-focus-border-color: #b5b5b5;

// navbar
$navbar-height: $global-margin * 4;

// box (and product)
$box-radius: $global-radius;
$box-padding: $global-padding;