.frontPage {

    &__messageForm {
        position: relative;
    }

    &__messageField {
        @extend .textarea;
        @extend .has-margin-bottom;
        resize: vertical;

        &--readonly {
            resize: none;
        }

        &, &:hover {
            border: none;
        }

        &:not([rows]) {
            min-height: 40vh;

            @include mobile {
                min-height: 65vh;
            }

            overflow-y: scroll;
        }

        &--reduced:not([rows]) {
            min-height: 40vh;
        }
    }

    &__settingsIcon {
        position: absolute !important;
        top: 0;
        right: 0;
        background: $white;
        border-radius: $global-radius;
        cursor: pointer;

        @extend .image;
        @extend .is-marginless;

        & img {
            width: auto;
            height: 30px;
            margin-top: 5px;
        }
    }

    &__settings {
        margin: $global-margin 0;
        padding: $global-padding 0;
        border-top: 2px solid $light;
        border-bottom: 2px solid $light;
    }

    &__icon {
        @extend .image;
        @extend .is-48x48;
        @extend .is-marginless;
        padding-top: $global-padding / 2;
    }

    &__knownFrom {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;

        @include from($tablet) {
            justify-content: center;
        }
    }

    &__knownLogo {
        margin: 0 $global-margin;

        & img {
            height: 3rem;
            max-width: 180px;
            filter: grayscale(100%);

            &:hover {
                filter: none;
            }
        }
    }
}