.frontPage {
    &__messageField {
        @extend .textarea;
        @extend .has-margin-bottom;
        resize: vertical;

        &--readonly {
            resize: none;
        }

        &, &:hover {
            border: none;
        }

        &:not([rows]) {
            min-height: 35vh;
        }
    }

    &__icon {
        @extend .image;
        @extend .is-48x48;
        @extend .is-marginless;
        padding-top: $global-padding / 2;
    }

    &__knownFrom {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;

        @include from($tablet) {
            justify-content: center;
        }
    }

    &__knownLogo {
        margin: 0 $global-margin;

        & img {
            height: 3rem;
            max-width: 180px;
            filter: grayscale(100%);

            &:hover {
                filter: none;
            }
        }
    }
}