.navbar {
    box-shadow: $box-shadow;
    z-index: 2;

    &__language {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: $global-margin / 2;
    }
}

.modal {
    z-index: 1;
}

#cookieSettingsButton {
    position: fixed;
    bottom: $global-padding / 2;
    right: $global-padding;
    border-radius: $global-radius 0 0 $global-radius;
    background-color: transparent;
}